{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.3.0/css/bootstrap.css' %}">
    <link rel="icon" href="{% static 'img/icon.svg' %}">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <img src="{% static 'img/person-circle.svg' %}" width="30" height="30" class="d-inline-block align-top me-2"
             alt="">
        <a class="navbar-brand" href="#">CRM系统</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            基础信息
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/depart/list/">部门信息</a></li>
                            <li><a class="dropdown-item" href="/employee/list/">员工信息</a></li>
                            <li><a class="dropdown-item" href="/product/list/">产品信息</a></li>

                        </ul>
                    </div>


                <li class="nav-item">
                    <a class="nav-link" href="#">线索管理</a>
                </li>

                <li class="nav-item">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            跟进客户
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">我的客户</a></li>
                            <li><a class="dropdown-item" href="#">我的订单</a></li>
                            <li><a class="dropdown-item" href="#">跟进记录</a></li>


                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            销售管理
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">公司列表</a></li>
                            <li><a class="dropdown-item" href="/customer/list/">客户列表</a></li>
                            <li><a class="dropdown-item" href="/order/list/">订单列表</a></li>


                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            财务管理
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">订单应收</a></li>
                            <li><a class="dropdown-item" href="#">订单退款</a></li>

                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">日程</a>
                </li>

            </ul>


            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    {{ request.session.info.name }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">个人资料</a></li>
                    <li><a class="dropdown-item" href="#">关于</a></li>
                    <li><a class="dropdown-item" href="/admins/list/">管理员</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout/">注销</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>




        {% block content %}

        {% endblock %}

<script src="{% static '/plugins/jquery/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-5.3.0/js/bootstrap.bundle.js' %}"></script>
{% block js %}

{% endblock %}
</body>
</html>